<% include ../partials/header%>
<div class = "container">
    <div class = "main-content">
        <% if(movies.length >0){ %>
        <% movies.forEach(function(movie){ %>
        <% if(movie && currentUser && movie.author.id.equals(currentUser._id)){ %>
        <div class = "card">
            <h1 class = "card-title"><%=movie.title%></h1>
            <img src = '<%=movie.image%>' alt = "movie poster">
            <div class = "card-content">
                <p>Added: <%=movie.created.toDateString()%></p>
                <h3><%=movie.rating%>/5 Stars</h3>
                <p><%-movie.review.substring(0,150)%></p>
            </div>
            <a href = "/movies/<%=movie._id%>">
                <button class = "button more">view more</button>
            </a>
        </div>
        <% } %>
        <% }) %>
    </div>
    
    <% }else if(currentUser){ %>
        <h1 class = "empty_message">
            <a href = "/movies/new">
                Click here to start adding movies <i class="fas fa-plus-circle"></i>
            </a>
        </h1>
    <% }else{ %>
        <h1 class = "empty_message">
            <a href = "/login">
                Login to start adding movies!
            </a>
        </h1>
    <% } %>
    
</div>





<% include ../partials/footer%>